div(class="header")
  div(class="header-left")
    div(class="logo") Linkup
    form(
      method="GET",
      form-search
    )
      input(type="text" placeholder="Tìm kiếm trên Linkup")

  

  div(class="header-right")
    a(
      href="/user/info"
      class="icon"
    ) #{Myuser.userName}
    a(
      chat-friend
      href="/chat"
      class="icon"
    ) 💬
    div(
      href="/notification"
      class="icon"
    ) 🔔
    div(class="icon")
      a(
        class="icon"
        href="/user/logout"
      ) ↩ 
    div(class="avatar")