extends ../layout/default.pug

block content
    div(class="content-header")
        h2 Lời mời kết bạn

    div(class="card-list")
        each item in user
            div(
                class="card" 
                id="cart-friend"
            )
                img(src=item.avatar)
                h4 #{item.userName}

                div(class="friend-actions")
                    button(
                        class="btn add btn-add btn-accept"
                        btn-accept-friend = item._id
                    ) Đồng ý

                    button(
                        class="btn btn-remove"
                        btn-refuse-request = item._id
                    ) Từ chối
                    button(
                        class="btn btn-danger btn-sm btn-refuse"
                    ) Đã từ chối

                    a(
                        href="/chat"
                        class="btn btn-danger btn-sm btn-friend"
                    ) Nhắn tin

block script 
    script(src="/JS/friend.js") 