extends ../layout/default.pug

block content
    div(class="content-header")
        h2 Lời mời kết bạn

    div(class="card-list")
        each item in user
            // Card 1
            div(
                class="card"
                id="cart-friend"
            )
                img(src=item.avatar)
                h4 #{item.userName}
                button(
                    class="btn btn-add"
                    btn-accept-friend = item._id
                    ) Thêm bạn bè
                button(
                    class="btn btn-remove"
                    btn-remove-friend = item._id
                    ) Gỡ
                button(
                    class="btn btn-danger btn-sm btn-cancel"
                ) Đã cầu

block script 
    script(src="/JS/friend.js") 