extends ../layout/default.pug

block content
    div(class="content-header")
        h2 Lời mời đã gửi
        a(href="#") Xem tất cả

    div(class="card-list")
        each item in user
            div(
                class="card" 
                id="cart-friend"
            )
                img(src=item.avatar)
                h4 #{item.userName}

                div(class="friend-actions requested")
                    button(
                        class="btn add btn-add"
                        btn-add-friend = item._id
                    ) Thêm bạn bè

                    button(
                        class="btn btn-remove"
                        btn-remove-friend = item._id
                    ) Gỡ

                    button(
                        class="btn btn-danger btn-sm btn-cancel"
                        btn-cancel-friend = item._id
                    ) Hủy yêu cầu

                    button(
                        class="btn btn-danger btn-sm btn-suggest"
                        btn-cancel-suggest = item._id
                    ) Đã gỡ
block script 
    script(src="/JS/friend.js") 